body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px;
}

.produk {
  width: 250px;
  margin: 30px auto;
  padding: 15px;
  border-radius: 10px;
  background: #1a1a1a;
  text-align: center;
}

.produk img {
  width: 100%;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: purple;
  color: white;
  cursor: pointer;
}

button:hover {
  background: violet;
}
